* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #ffffff;
    color: #000;
}

main {
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    margin-top: 2.3rem;
}

.main-subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    color: #575757;
    text-align: center;
    width: 80%;

    margin: 0 auto;
    margin-top: 0.4rem;
    margin-bottom: 2rem;
}

.main-posts {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    color: #000;
    width: 80%;

    margin: 0 auto;
    height: 9rem;
    border-radius: 15px;
}

.main-posts h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;

    text-align: start;
    padding: .9rem;
}

.main-posts p {
    font-size: 1.1rem;
    color: #575757;

    font-weight: 600;
    text-align: start;
    padding: 0 .9rem;
}

.main-posts img {
    width: 4rem;
    height: 4rem;
    border: 1px solid #b3b3b3;
    border-radius: 8px;

}



