<!DOCTYPE html>
<html lang="en">
<head>
    {{{head}}}
    <link rel="stylesheet" type="text/css" href="/public/styles/stylesConfiguration.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <p>ola mundo</p>
        <a href="/change-username">ALTERA AI TEU NOME PARCERO</a>
    </div>
</body>