<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/public/styles/stylesConfiguration.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container">
        <p>ola mundo</p>

        <form id="change-username-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Alterar</button>
        </form>
    </div>

    <div class="main">
        <div class="list-config">
            <h1>list config</h1>
            <li id="item-1">Lorem, ipsum dolor. 1</li>
            <li id="item-2">Lorem, ipsum dolor. 2</li>
            <li id="item-3">Lorem, ipsum dolor. 3</li>
            <li id="item-4">Lorem, ipsum dolor. 4</li>
            <li id="item-5">Lorem, ipsum dolor. 5</li>
            <li id="item-6">Lorem, ipsum dolor. 6</li>
            <li id="item-7">Lorem, ipsum dolor. 7</li>
            <li id="item-8">Lorem, ipsum dolor. 8</li>
            <li id="item-9">Lorem, ipsum dolor. 9</li>
            <li id="item-10">Lorem, ipsum dolor. 10</li>
            <li id="item-11">Lorem, ipsum dolor. 11</li>
            <li id="item-12">Lorem, ipsum dolor. 12</li>
            <li id="item-13">Lorem, ipsum dolor. 13</li>
            <li id="item-14">Lorem, ipsum dolor. 14</li>
            <li id="item-15">Lorem, ipsum dolor. 15</li>
            <li id="item-16">Lorem, ipsum dolor. 16</li>
            <li id="item-17">Lorem, ipsum dolor. 17</li>
        </div>

        <div class="current-config">
            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 1</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 2</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 3</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 4</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 5</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 6</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 7</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 8</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 9</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 10</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 11</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 12</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 13</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 14</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 15</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 16</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>

            <div class="config">
                <div class="info-config">
                    <h1>Lorem, ipsum. 17</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, at.</span>
                </div>
                <form action="" method="post">
                    <label for="config">Configuração:</label>
                    <input type="text" id="config" name="config" required>
                    <button type="submit">Alterar</button>
                </form>
            </div>
        </div>
    </div>


    <script src="../public/scripts/scriptsConfiguration.js" defer></script>


</body>
</html>
