<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create-post" method="POST" enctype="multipart/form-data">
        <label for="content">Content</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <label for="file">File</label>
        <input type="file" name="file" id="file" accept="image/*,video/mp4">
        <button type="submit">Create post</button>
    </form>
</body>
</html>
