<!DOCTYPE html>
<html lang="en">
<head>
    {{{head}}}
    {{!-- <link rel="stylesheet" type="text/css" href="/public/styles/stylesEdit.css"> --}}
    <title>Homepage</title>
</head>
<body>
    <p>informações do post</p>
    {{post}}
</body>
</html>
