<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/style-home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <title>Homepage</title>
</head>
<body>
    <header class="sectionTop">
        {{!header}}
    </header>
    <main class="conteudo">
        <section class="banner">
            <div class="bannerTxt"> 
                <span>Pessoas unidas<br></span>
                <span>Uma boa comunidade<br></span>
                <span>Tudo esta por aqui<br></span>
            </div>
            <div class="subBanner">
                <h2 class="subText">Conecte-se com uma <strong>comunidade vibrante e unida.</strong></h2>
                <h2 class="subText">Descubra tudo o que voce precisa <strong>em um so lugar.</strong></h2>
                <h2 class="subText">Junte-se a nos e <strong>faca parte da experiencia!</strong></h2>
            </div>
            
            <button class="btnPost">Crie sua postagem aqui! <img src="/public/assets/seta.svg" alt=""></button>
            <button class="btnPost"><a href="/commits">Commmits page</a></button>
        </section>

        <section class="cardBox">

            <div class="card">
                <div class="cardTop">
                    <div class="initTop">
                        <img class="pfpImg" src="/public/assets/pfp.svg">                
                        <h3 class="username">Lore ipsum</h3>
                        <h4 class="postTime">(postado ha 6 horas)</h4>
                    </div>
                    <div class="endTop">
                        <h4 class="comentarios">(146)comentarios</h4>
                    </div>
                </div>
                <h5 class="cardText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." </h5>
                <div class="cardBottom">
                    <div class="voteStyle">
                        <button class="upvote"><img class="upvoteImg" src="/public/assets/upvote.svg" alt="upvote">6.8k</button>
                        <button class="downvote"><img class="downvoteImg" src="/public/assets/downvote.svg" alt="downvote"></button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="cardTop">
                    <div class="initTop">
                        <img class="pfpImg" src="/public/assets/pfp.svg">                
                        <h3 class="username">Lore ipsum</h3>
                        <h4 class="postTime">(postado ha 6 horas)</h4>
                    </div>
                    <div class="endTop">
                        <h4 class="comentarios">(146)comentarios</h4>
                    </div>
                </div>
                <h5 class="cardText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." </h5>
                <div class="cardBottom">
                    <div class="voteStyle">
                        <button class="upvote"><img class="upvoteImg" src="/public/assets/upvote.svg" alt="upvote">6.8k</button>
                        <button class="downvote"><img class="downvoteImg" src="/public/assets/downvote.svg" alt="downvote"></button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="cardTop">
                    <div class="initTop">
                        <img class="pfpImg" src="/public/assets/pfp.svg">                
                        <h3 class="username">Lore ipsum</h3>
                        <h4 class="postTime">(postado ha 6 horas)</h4>
                    </div>
                    <div class="endTop">
                        <h4 class="comentarios">(146)comentarios</h4>
                    </div>
                </div>
                <h5 class="cardText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur." </h5>
                <div class="cardBottom">
                    <div class="voteStyle">
                        <button class="upvote"><img class="upvoteImg" src="/public/assets/upvote.svg" alt="upvote">6.8k</button>
                        <button class="downvote"><img class="downvoteImg" src="/public/assets/downvote.svg" alt="downvote"></button>
                    </div>
                </div>
            </div>

        </section>
    </main>
</body>
</html>