<!DOCTYPE html>
<html lang="en">

<head>
    {{{head}}}
    <link rel="stylesheet" href="/public/styles/stylesLogin.css">
    <title>Login</title>
</head>

<body>
    <header>
        <p>Ainda n&atilde;o tem seu registro? Se registre por aqui!</p>
        <div>
            <a href="/register">
                <p>Registre</p>
            </a>
        </div>
    </header>
    <main>
        
        <img id="main-image" src="/public/assets/illustration.svg" alt="tela de boas vindas">
        <div class="container">
            <h1>Ol&aacute;, seja bem-vindo(a)!</h1>
            <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum </p>
            <form action="/login" method="post">
                <label for="name" id="name">Nome</label>
                <div class="usernameField">
                    <img class="imgInput" src="/public/assets/username.svg">
                    <input id="name-input" type="text" name="name" placeholder="Nome">
                </div>
                <label for="password" id="password">Senha</label>
                <div class="passwordField">
                    <img class="imgInput" src="/public/assets/password.svg">
                    <input id="password-input" type="password" name="password" placeholder="Senha">
                </div>
                <button id="submit">Entre! <img class="imgButton" src="/public/assets/login.svg"></button>
            </form>
        </div>
    </main>
</body>

</html>