<!DOCTYPE html>
<html>
<head>
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>
    {{#each this}}
    <div>
        <h2>{{title}}</h2>
        <p>{{body}}</p>
    </div>
    {{/each}}
</body>
</html>