<!DOCTYPE html>
<html lang="en">

<head>
    {{{head}}}
    <link rel="stylesheet" href="/public/styles/stylesRegister.css">
    <title>Registro</title>
</head>

<body>
    <header>
        <p>J&aacute tem seu registro? Entre por aqui!</p>
        <div>
            <a href="/login">
                <p>Entre</p>
            </a>
        </div>
    </header>
    <main>
        <img id="main-image" src="/public/assets/illustration.svg" alt="tela de boas vindas">
        <div class="container">
            {{{pica}}}
            <h1>Ol&aacute, seja bem-vindo(a)!</h1>
            <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
            <form action="/register" method="post">
                <label for="name" id="name">Nome</label>
                <div class="usernameField">
                    <img class="imgInput" src="/public/assets/username.svg">
                    <input id="name-input" type="text" name="name" placeholder="Nome">
                </div>
                <label for="password" id="password">Senha</label>
                <div class="passwordField">
                    <img class="imgInput" src="/public/assets/password.svg">
                    <input id="password-input" type="password" name="password" placeholder="Senha">
                </div>
                <button id="submit">Registre-se!<img class="imgButton" src="/public/assets/register.svg"></button>
            </form>
        </div>
    </main>
</body>
</html>