<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <h1>Posts</h1>
    {{#each posts}}
        <div class="post">
            <p>{{post}}</p>
            {{#if post_image}}
                <!-- Renderiza a imagem a partir da string Base64 -->
                <img src="data:image/jpeg;base64,{{post_image}}" width="400" height="200" alt="Post Image">
            {{/if}}
            {{#if post_video}}
                <!-- Renderiza o vídeo a partir da string Base64 -->
                <video src="data:video/mp4;base64,{{post_video}}" width="400" height="200" alt="Post Video" controls></video>
            {{/if}}
        </div>
    {{/each}}
</body>
</html>
