<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Q/A</title>
</head>
<body>
    <header><a href="/register">/register</a></header>
    <main>
        <img src="assets/-.svg" alt="tela de boas vindas">
        <form action="/login-user-success" method="POST">
            <div class="container">
                <h1>Olá, seja bem-vindo(a)!</h1>
                <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
                <div class="form-field">
                    <label for="name-input">Nome</label>
                    <input id="name-input" type="text" name="nameLogin" placeholder="Como podemos te chamar?">
                </div>
                <div class="form-field">
                    <label for="password-input">Senha</label>
                    <input id="password-input" type="password" name="passwordLogin" placeholder="*****">
                </div>
                <button type="submit" id="submit-login">Login!</button>
                <div id="error-message" style="color: red;"></div>
            </div>
        </form>
    </main>
    <script src="/scripts/handleErrors.js"></script>
</body>
</html>
