<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Q/A</title>
</head>
<body>
    <header><a href="/login">/login</a></header>
    <main>
        <img src="assets/-.svg" alt="tela de boas vindas">
        <div class="container">
            <form action="/register-user" method="post">
                <h1>Olá, seja bem-vindo(a)!</h1>    
                <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
                <label for="name" id="name">Nome</label>
                <input id="name-input" type="text" name="name" placeholder="Como podemos te chamar?">
                <label for="password" id="password">Senha</label>
                <input id="password-input" type="text" name="password" placeholder="*****">
                <button id="submit-login">Registre seu usuário!</button>
            </form>
        </div>
    </main>    
</body>
</html>