* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: #111427;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #21274A;
    border-radius: .75rem;
}

.content-item {
    padding: 20px;
    background: #21274A;
    border-radius: .75rem;
}

.content-item-change-name {
    padding: 20px;
    background: #21274A;
    border-radius: .75rem;
}

#change-username-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#change-username-form input {
    padding: 10px;
    border-radius: .75rem;
    border: none;
    background: #ffffff;
    color: #000000;
}

#change-username-form button {
    padding: 10px;
    border-radius: .75rem;
    border: none;
    background: #333;
    color: #FFFFFF;
    cursor: pointer;
}

.avatar-container {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
}

.avatar-image {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);
}

.avatar-container:hover .edit-icon {
    opacity: 1;
    cursor: pointer;
}

#save-button {
    display: none; /* Esconde o botão */
}

.back-to-menu {
    display: block;
    text-align: center;
    padding: 10px;
    background: #333;
    border-radius: .75rem;
    color: #FFFFFF;
    text-decoration: none;
}

.change-avatar-p {
    opacity: 50%;
}

.back-to-menu:hover {
    background: #444;
}

#change-avatar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}