* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    border: none;
    outline: none;
}

body {
    background-color: #111427;
}

main {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    /* width: 52rem; */
    gap: 3.5rem;    
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1.88rem 2.25rem 0 0;
}

header p {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.125rem;
    margin-right: .625rem;
}

header div {
    width: 5.125rem;
    height: 2.5rem;
    border-radius: 20px;
    background-color: #D9D9D9;
}

header div a p {
    color: #111427;
    font-size: .925rem;
    font-weight: 600;
    text-align: center;

    margin-top: 10px;
    margin-left: 6px;
}

header div a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-img {
    width: 79px;
    height: 79px;
    margin-bottom: 20px;
}

.container h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.container p {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #9B9CA4;
    margin-bottom: 30px;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
    width: 361px;
}

#name {
    font-size: 1.375rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 0px;
}

#name-input {
    margin-top: 4px;    
    width: 100%;
    background: transparent;
    color: #9B9CA4;
    font-size: 1.225rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#name-input::placeholder,
#password-input::placeholder {
    color: #4A569C;
    font-size: 1.25rem;
    font-weight: 600;
}

.usernameField {
    margin: 15px 0 0 0px;
    display: flex;
    gap: .625rem;
    padding: .4375rem;
    background: #21274A;
    border-radius: .375rem;
    width: 321px;
    height: 3.0625rem;
}

.usernameField .imgInput {
    margin-top: .375rem;
}

.imgInput {
    width: 1.5625rem;
    height: 1.5625rem;
    margin-left: .625rem;
}

.passwordField .imgInput {
    margin-top: 6px;
}

.passwordField {
    margin: 15px 0 0 0px;
    display: flex;
    gap: .625rem;
    padding: .4375rem;
    background: #21274A;
    border-radius: .375rem;
    margin-bottom: .9375rem;
    width: 321px;
    height: 3.0625rem;
}

#password {
    font-size: 1.375rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 0px;
    margin-top: 18px;
    display: block;
}

#password-input {
    margin-top: 4px;    
    width: 100%;
    background: transparent;
    color: #9B9CA4;
    font-size: 1.225rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#submit {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: .625rem;
    margin-top: 35px;
    margin-left: 0px;
    padding: 1.25rem;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: .375rem;
    background-color: #323F8F;
    width: 321px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#submit:hover {
    background-color: #470ec2;
}

#main-image {
    margin: 15px 0 0 200px;
    width: 700px;
    height: 700px;
}

.imgButton {
    width: 1.75rem;
    height: 1.75rem;
    justify-content: center;
}

.form-content .slogin {
    display: none;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
}

.container .slogin a{
    color:white;
    text-decoration-line: underline;
}

.container .slogin a:visited{
    color:white;
}

.content .error {
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 0rem;
        margin-top: 140px;
        align-items: center;
    }

    #main-image {
        display:none;
    }

    header {
        display:none;
    }

    .content, .form-content{
        align-items: center;
        justify-content: center;
    }

    .container p{
        text-align: center;
    }

    .form-content{
        width: 321px;
        margin: 0 auto;
    }

    .form-content .slogin {
        display: block;
        text-decoration: none;
        margin-top: 10px;
    }
}