* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background: #111427;
}

.sectionTop {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5625rem;
    
    margin: 2rem;
}

.dropOption {
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
}

.subOption.show {
    width: 230px;
}

.deleteConfirm {
    margin-right: 5px;
}

.banner {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bannerTxt {
    text-align: center;
    font-size: 2.725rem;
    font-weight: 800;
    line-height: 2.535rem;
    letter-spacing: 0.01em;
    background: linear-gradient(90deg, #9F00EB 37.96%, #05F2B5 57.73%); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;
    height: 9rem;
}

.subBanner {
    margin-top: 0.875rem;
    display: flex;
    flex-direction: column;
}

.subText {
    font-size: 1.4625rem;
    font-weight: 500;
    line-height: 2.1938rem;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

strong {
    color: #FFFFFF;
}

.btnPost {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 3.25rem;
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 2.0938rem;
    color:#FFFFFF;
    background: #4900EB;
    border-radius: .75rem;
    border: none;
    width: 31.25rem;
    height: 5rem;
    gap: 1.4375rem;
}

.btnPost:hover {
    background: #4F00FF;
    cursor: pointer;
    transition: 1s;
}

.cardBox {
    margin: 4.425rem auto;
    width: 56.25rem;
    height: 9.375rem;
}

.card {
    background: #21274A;
    border-radius: .75rem;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
}

.cardTop {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.initTop {
    display: flex;
    align-items: center;
    gap: 1.25rem
}

.cardTextTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    /* identical to box height, or 34px */

    color: #F7F7F7;

    margin-top: 1rem;
}

.cardTextDescri {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    /* or 27px */

    color: #cccccc;
    margin-top: 0.6rem;
    margin-bottom: 1rem;

    
}

.cardTextImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 15px;
}

.username {
    font-weight: 700;
    font-size: 21px;
    line-height: 134.01%;
    /* or 28px */

    color: #EAEAEA;
}

.username span {
    color: #ACACAC;
    font-size: 18px;
    font-weight: semibold;
}

.postTime {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.8425rem;
    text-align: left;
    color: #FFFFFF7A;
}

.comentarios {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.8425rem;
    text-align: left;
    color: #FFFFFF7A;
    text-decoration: underline;
}

.cardBottom {
    display: flex;
    margin-top: .625rem;
    gap: 0.5rem;
}

.voteStyle {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    height: 2.2rem;
}

.commentCont {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    height: 2.2rem;
}

.upvote {
    /* width: 16.87px;
    height: 21.09px; */

    border: none;
    background: transparent;
    fill: #fff;
}

.downvote {
    border: none;
    background: transparent;
}

.post_votes {
    font-weight: 400;
    font-size: 18px;
    line-height: 134.01%;
    /* or 29px */

    color: #FFFFFF;
}

/* Estilos para o menu dropdown */
.optionConfig {
    position: relative;
}

.options {
    cursor: pointer;
    padding: 10px;
}

.subOption {
    display: none;
    position: absolute;
    top: calc(100% - 10px); /* Sobe o menu 10px */
    right: 0;
    background-color: #1C2340;
    border-radius: 8px;
    padding: 10px;
    width: 180px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

/* Estilo para o botão 'x' */
.closeMenu {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.closeMenu:hover {
    color: #ccc;
}

.subOption li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.subOption li:hover {
    background-color: #2A2F55;
    border-radius: 6px;
}

.subOption li img {
    margin-right: 10px;
}

.confirmDelete {
    display: none;
    background-color: #2A2F55;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
}

.confirmDelete p {
    margin-bottom: 10px;
    color: white;
}

.confirmDelete button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    background-color: #424F9F;
}

.confirmDelete button:nth-child(2) {
    background-color: #1E2344;
    color: white;
}

.confirmDelete button:nth-child(1) {
    background-color: #424F9F;
    color: white;
}

/* Animações */
.subOption.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

.confirmDelete.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.voteText {
    display: none;
}

#userVote {
    display: none;
}

.modal {
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 60px;
    transform: scale(0);
  }
  
  .modal-content {
    background-color: #111427;
    color: #FFFFFF;
    margin: 1.25rem auto;
    padding: 1.25rem;
    border: 4px solid #31396B;
    width: 59.375rem;
    height: 550px;
    border-radius: 2.5rem;
    display: flex;
    justify-content: flex-start;
    gap: .625rem;
  }
  
  .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, .0);
    text-align: center;
    vertical-align: middle;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(.8) translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(.8) translateY(1000px);
      opacity: 0;
    }
  }
  
  .modal.show {
    display: block;
    transform: scale(1);
    animation: scaleUp 0.5s ease forwards;
  }
  
  .modal.hide {
    display: block;
    transform: scale(1);
    animation: scaleDown 0.5s ease forwards;
  } 

/* Form elements */
.modal-content label {
    margin-top: 50px; /* Espaçamento superior para os labels */
    width: 73px;
    height: 33px;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px; /*Espaçamento superior para os campos de entrada */
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    background-color: #21274A;
    color: #4A569C;
    height: 49px;
    padding-left: 40px; /* Ajuste conforme necessário */
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    text-align: justify;
    outline: none;
}

.topModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.titleModal {
    height: 34px;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    gap: 10px;
    margin-left: -46px;
}

.diviser1 {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: none;
}

#preview {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #080a14;
    border-radius: 7px;
    width: 350px;
    height: 270px;
    margin: 45px 0 0 auto;
}

/* Certifique-se de que esses estilos são aplicados no final do arquivo CSS para sobrescrever qualquer outro estilo conflitante */
.btnSubmit {
    height: 45px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: none;
    border-radius: 5px;
    background-color: #6272D6;
    color: #111427;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    position:relative;   
}

.btnIcon {
    fill: #111427;
}

.btnSubmit:hover .btnIcon,
.btnSubmit:hover {
    color: #FFFFFF;
    fill: #FFFFFF; /* Cor do ícone ao passar o mouse sobre o botão */
}

.styleInput {
    position: relative;
    align-items: center;
    width: 100%;
}

.iconInput {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 20px;
    height: 20px;
}

.styleFileInput {
    display: flex;
    width: 100%;
    height: 49px;
    background-color: #21274A;
    border-radius: 6px;
    margin-top: 10px;
}

.iconFile {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    align-self: center;
}

#file {
    display: none;
}

#title::placeholder,
#content::placeholder {

    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #4A569C;

}

.styleFileInput label {
    align-self: center;
    margin-left: 41px;
    width: 100%;
    color: #4A569C;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #4A569C;
    margin-top: 0;
}

/* Close button */
.close {
    align-self: flex-end;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.activeClose {
    stroke: white;
}

.dropbtn {
    background-image: radial-gradient(141.01% 141.01% at 50% 50%, #111427 0%, #3D488D 100%);
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    display: flex; /* Para alinhar o ícone e o texto */
    align-items: center; /* Para centralizar o ícone verticalmente */
    justify-content: space-between; /* Espaçar o texto e o ícone */
    gap: 5px; /* Espaçamento entre o texto e o ícone */

    margin-top: -4.8rem;
    margin-left: 2rem;
}

.dropbtn img {
    width: 16px; 
    height: 16px; 
    margin-left: 8px; 
    font-weight: 600;
}

.dropbtn span {
    margin-right: 6px; 
    letter-spacing: 0.06em;
    font-weight: 600;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #555;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-image: radial-gradient(141.01% 141.01% at 50% 50%, #111427 0%, #3D488D 100%);
    width: 188px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px; 
    margin-top: 0.3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-left: 2rem;
}

.dropdown-content a {   
    color: white;
    font-size: 18px;
    padding: 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px; 
    display: flex; 
    align-items: center;
}

.dropdown-content a img {
    margin-right: 8px; 
    width: 20px; 
    height: 20px; 
}

.dropdown-content a:hover {
    background-color: #5e6fce7a;
    transition: background-color 0.3s;
    border-radius: 20px; 
}

.dropdown-content.show {
    opacity: 1;
    visibility: visible;
}

#toggleIcon {
    transition: transform 0.4s ease;
}

#toggleIcon.rotate {
    transform: rotate(90deg);
}

.pfpImg {
    border-radius: 5px;
    outline: 4px solid #31396B;
}

.textGithub {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: capitalize;

    color: rgba(255, 255, 255, 0.72);
    margin-bottom: -0.3rem;
}

.logoGithub {
    margin-bottom: -0.25rem;
}

.github {
    display: flex;
    align-items: center;
    gap: 5px;

}

.update {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    cursor: pointer;
    line-height: 3px;

    color: rgba(255, 255, 255, 0.5);
}

.update:hover {
    text-decoration-line: underline;
    color: #fff;
}

.section1 {
    width: 120px;
}

.section2 {
    width: 120px;
}

.section3 {
    width: 120px;
}

#file-name {
    font-size: 14px;
    color: #4A569C;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
}

#preview img,
#preview video {
    max-width: 100%;
    max-height: 100%;
}

#clear-input {
    border: none;
    cursor: pointer;
    margin-top: 13px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    display: none;
}

.cancelSpan {
    height: 45px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: #555;
    border-radius: 5px;
    background-color: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    margin-left: 60px;
}

.cancelSpan:hover{
    color: #dd5151;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 810px;
    gap:51px;
}

.hide-error {
    display: none;    
}

#submit-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.formContent {
    width: 50%;
}

.middleForm {
    display: flex;
}

@media (max-width: 900px) {
    .sectionTop {
        display: none;
        margin: 0.5rem;
    }

    .section1, .section2, .section3 {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .dropbtn {
        width: 95%;
        justify-content: center;
        margin: 10px auto;
        border-radius: .75rem;
    }

    #openModal {
        font-size: 20px;
    }

    .bannerTxt {
        font-size: 2rem;
        line-height: 2rem;
        height: auto;
    }

    .subText {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .btnPost {
        width: 95%;
        height: auto;
        padding: 1rem;
    }

    .dropdown-content {
        margin: 0;
        width: 100%;
    }

    .cardBox {
        width: 100%;
        padding: 1rem;
    }

    .cardTextTitle {
        font-size: 1.5rem;
    }

    .cardTextDescri {
        font-size: 1.2rem;
    }

    .cardTextImg, .cardTextVideo {
        width: 100%;
        height: auto;
    }

    .voteStyle button, .commentCont button {
        width: 100%;
    }

    .modal-content {
        width: 90%;
        height: auto;
        padding: 1rem;
    }

    .topIcon {
        display: none;
    }

    .middleForm {
        display: flex;
        flex-direction: column;
    }

    .titleModal {
        margin-left: 0;
    }
    
    .formContent {
        width: 95%;
    }

    #preview {
        width: 95%;
        margin-top: 20px;
        margin-left: 0;
    }

    .diviser1{
        width: 100%;
        padding: 0;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 95%;
    }

    .cancelSpan {
        margin: 0;
    }

    .btnSubmit, .cancelSpan {
        width: 100%;
    }

    .close {
        display: none;
    }

    .closeMobile {
        display: block;
    }
}