* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    font-size: 100%;
    background: #111427;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
}

.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.cabecalhoMenu {
    display: flex;
    gap: 30px;
    
}

.cabecalhoItem {
    font-weight: 800;
    color:#FFFFFF;
    font-size: 20px;
}

.banner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bannerTxt {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    line-height: 45.36px;
    letter-spacing: 0.01em;
    background-image: linear-gradient(90deg, #9F00EB, #05F2B5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.subBanner {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.subFrase {
    font-weight: 500;
    color: #FFFFFF94;
}

strong {
    color: #FFFFFF;
}

.btnPost {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.5px;
    color:#FFFFFF;
    background: #4900EB;
    border-radius: 12px;
    border: none;
    width: 500px;
    height: 80px;
    gap: 23px;
}

.cardBox {
    margin: 20px auto;
    width: 900px;
    height: 150px;
}

.card {
    background: #21274A;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
}

.cardTop {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.initTop {
    display: flex;
    align-items: center;
    gap: 20px
}

.endTop {
    display: flex;
    justify-content: center;
}

.cardTxt {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26.8px;
    text-align: left;
    color: #FFFFFF8F;
    text-align:left;
}

.username {
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.5px;
    text-align: left;
    color: #FFFFFF;
}

.hora {
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 29.48px;
    text-align: left;
    color: #FFFFFF7A;
}

.comentarios {
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-weight: 300;
    line-height: 29.48px;
    text-align: left;
    color: #FFFFFF7A;
    text-decoration: underline;
}

.cardBottom {
    display: flex;
    flex-direction: row-reverse;
}

.voteStyle {
    display: flex;
    width: 100px;
}

.upvote {
    width:73%;
    border-radius: 5px;
    border: 1px solid #5E6ECE;
    background:transparent;
    color: #5E6ECE;

    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.12px;
    text-align: left;

}

.downvote {
    width: 27%;
    border-radius: 5px;
    border: 1px solid #5E6ECE;
    background:transparent;
}