.header {
    position: relative;
    height: 4rem;
    width: 100vw;
    background-color: gray;
    /*padding-top: 0.475rem;*/
    font-size: 10px;
    /*display: flex;*/
    text-align: center;
    justify-content: center;
    color: white;
    top: 0;
}