<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/styles/stylesCommits.css">
    <title>Commits</title>
</head>
<body>
    <h1 class="title">Commits</h1>
    <ul>
        {{#each commits}}
        <li>
            <div class="card">
                <h2 class="message">{{this.commit.message}}</h2>
                <p class="author">Author: {{this.commit.author.name}}</p>
                <p class="date">Date: <span class="formatDate">{{this.commit.author.date}}</span></p>
            </div>
        </li>
        {{/each}}
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const formattedDate = document.querySelectorAll('.formatDate');

            formattedDate.forEach(dateElement => {
                const originalDate = dateElement.textContent; 
                const formattedDate = new Date(originalDate).toLocaleDateString('pt-BR'); 
                dateElement.textContent = formattedDate; 
            });
        });
    </script>
</body>
</html>