<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Configurações</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/stylesConfiguration.css">
</head>
<body>
    <div class="main">
        <div class="content-item">
            <form id="change-avatar">
                <label for="avatar">Trocar foto de perfil do usuário:</label>
                <p class="change-avatar-p">(Clique na foto para alterar)</p>
                <div class="avatar-container">
                    <img class="avatar-image" src="data:image/jpeg;base64,{{avatar.avatar_image}}" width="200" height="200" alt="Avatar">
                    <img class="edit-icon" src="/public/assets/pencil.svg" alt="Edit" width="30" height="30">
                </div>
                <input type="file" id="avatar" name="avatar" accept="image/jpeg, image/png, image/gif" style="display: none;" required>
                <br><br>
                <button type="submit" id="save-button">Salvar</button>
            </form>
        </div>
        <div class="content-item">
            <form id="change-username-form">
                <label for="username">Trocar nome de usuário:</label>
                <input type="text" placeholder="Nome de usuário atual: {{user.name_user}}" id="username" name="username" required>
                <button type="submit">Alterar</button>
            </form>
        </div>
        <div class="content-item">
            <a href="/home" class="back-to-menu">Voltar ao Menu Principal</a>
        </div>
    </div>
    <script src="../public/scripts/scriptsConfiguration.js" defer></script>
</body>
</html>