* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background: #111427;
    color:white;
    margin: 50px 49px 160px 49px;
}

.sectionTop {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5625rem;
    margin: 2rem;
}

.section1 {
    width: 120px;
}

.dropbtn {
    background-image: radial-gradient(141.01% 141.01% at 50% 50%, #111427 0%, #3D488D 100%);
    color: white;
    padding: 15px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    margin-top: -4.8rem;
}

.dropbtn img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    font-weight: 600;
}

.dropbtn span {
    margin-right: 6px;
    letter-spacing: 0.06em;
    font-weight: 600;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #555;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-image: radial-gradient(141.01% 141.01% at 50% 50%, #111427 0%, #3D488D 100%);
    width: 188px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px; 
    margin-top: 0.3rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    margin-left: 2rem;
}

#toggleIcon {
    transition: transform 0.4s ease;
}

#toggleIcon.rotate {
    transform: rotate(90deg);
}

.dropdown-content a {   
    color: white;
    font-size: 18px;
    padding: 16px;
    text-decoration: none;
    display: block;
    border-radius: 8px; 
    display: flex; 
    align-items: center;
}

.dropdown-content a img {
    margin-right: 8px; 
    width: 20px; 
    height: 20px; 
}

.dropdown-content a:hover {
    background-color: #5e6fce7a;
    transition: background-color 0.3s;
    border-radius: 20px; 
}

.dropdown-content.show {
    opacity: 1;
    visibility: visible;
}

.section2 {
    width: 120px;
}

.textGithub {
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: capitalize;

    color: rgba(255, 255, 255, 0.72);
    margin-bottom: -0.3rem;
}

.logoGithub {
    margin-bottom: -0.25rem;
}

.github {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section3 {
    width: 158px;
}

.update {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    cursor: pointer;
    line-height: 3px;

    color: rgba(255, 255, 255, 0.5);
}

.update:hover {
    text-decoration-line: underline;
    color: #fff;
}

.dropdown{
    margin-bottom: 4rem;
}

.return-home {
    cursor: pointer;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 134.01%;
    color: rgba(247, 247, 247, 0.8);
    margin-left: 15px;
    margin-top: 50rem;
}

.return-home:hover{
    color: #ffffff;
    fill: #ffffff;
}

h3 {
    margin-top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 134.01%;
    color: rgba(247, 247, 247, 0.8);
}

.post-info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 134.01%;
    color: #F7F7F7;
}

.post-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-author {
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 134.01%;
}

.post-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 134.01%;
    color: #DADADA;
    text-align: justify;
}

.avatar-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background: #31396B;
    border-radius: 15px;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.title-comments {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 134.01%;
}

.comment-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment {
    width: 1174px;
}

.post-media {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1207px;
    height: 485px;
    border-radius: 15px;
    background-color: #080a14;
}

.image-post {
    height: 475px;
}

#commentForm {
    padding-left: 19px;
    padding-top: 19px;
    display: flex;
    flex-direction: column;
    height: 165px;
    background: #1A1E38;
    border-radius: 6px;
}

.commentInput {
    width: 1690px;
    height: 55px;
    background: #111427;
    border-radius: 6px;
    border: none;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 134.01%;
    color: #DADADA;
}

.comment-field {
    display: flex;
    gap: 23px;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    cursor: pointer;
    width: 173px;
    height: 68px;
    background: #31396B;
    border-radius: 10px;
    border: none;

    margin: 10px 14px 14px auto;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 134.01%;
    color: #F7F7F7;
}


.submit-btn:hover {
    color: #080a14;
}

.submit-btn:hover .edit-icon {
    filter: invert(1) grayscale(1) contrast(1) brightness(0);
}

.comment-box {
    margin-left: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.comment-top {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
}

.username {
    width: 83px;
    height: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 134.01%;
    color: rgba(247, 247, 247, 0.8);
}

.comment-date {
    font-weight: 700;
    font-size: 21px;
    line-height: 134.01%;
    color: rgba(255, 255, 255, 0.4);
}

.comment-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 134.01%;
    color: #DADADA;
}

.subOption dropOption {
    display: none;
}

.hidden {
    display:none;
}

.optionConfig {
    position: relative;
    margin: 0 19px 0 auto;
}

.options {
    cursor: pointer;
    padding: 10px;
}

.subOption {
    display: none;
    position: absolute;
    top: calc(100% - 10px); /* Sobe o menu 10px */
    right: 0;
    background-color: #1C2340;
    border-radius: 8px;
    padding: 10px;
    width: 180px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

/* Estilo para o botão 'x' */
.closeMenu {
    position: absolute;
    top: 5px;
    right: 8px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.closeMenu:hover {
    color: #ccc;
}

.subOption li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
.subOption li:hover {
    background-color: #2A2F55;
    border-radius: 6px;
}

.subOption li img {
    margin-right: 10px;
}

.confirmDelete {
    display: none;
    background-color: #2A2F55;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
}

.confirmDelete p {
    margin-bottom: 10px;
    color: white;
}

.confirmDelete button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

.confirmDelete button:nth-child(2) {
    background-color: #5A67D8;
    color: white;
}

.confirmDelete button:nth-child(1) {
    background-color: #333;
    color: white;
}

/* Animações */
.subOption.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

.confirmDelete.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.comment-divider {
    margin-top: 32px;
    display: none;
    background-color: #DADADA;
    height: 1px;
    width: 100%;
}

.comment-divider svg{
    width: 100%
}

.comments:not(:last-child) .comment-divider {
    display: block;
}

.count {
    display: flex;
    align-items: center;
    color: #DADADA;
    gap: 5px;
    margin-bottom: 25px;
}

#comment-count {
    padding: 5px;
    background-color: #DADADA;
    color: #080a14;
    border-radius: 5px;
    transform: translateY(-50%);
}

.edit-comment-form{
    display: flex;
}

.commentArea {
    resize: none;
    padding: 10px;
    width: 100%;
    height: 67px;
    background: #0b0d1a;
    border-radius: 6px;
    color: #DADADA;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 134.01%;
}

.saveComment {
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 173px;
    height: 68px;
    border:none;

    background: #31396B;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 134.01%;
    color: #F7F7F7;
}

.saveComment:hover {
    color: #080a14;
}

.saveComment:hover .edit-icon{
    filter: invert(1) grayscale(1) contrast(1) brightness(0);
}